### 1. One Sample T Test

In [181]:
import numpy as np
import pandas as pd
from scipy import stats
# Generate a sample dataset with size=50
n1=50
s1=np.random.normal(0, 1, size=n1)

In [182]:
# Get sample mean and sample standard deviation
import statistics 
s1_mean=np.mean(s1)
s1_std=statistics.stdev(s1)
df1=n1-1

In [183]:
# Null Hypothesis: true_mean=0
# Alternative Hypothesis: true_mean!=0
true_mean=0

In [184]:
# Calculate t-score
t_score=(s1_mean-true_mean)/(s1_std/np.sqrt(n1))

In [185]:
t_score

0.20744283905251373

In [186]:
# Get 95% two-tail cirtical t score
stats.t.ppf(0.975, df1)

2.009575234489209

In [187]:
# Get two_tail p-value
(1-stats.t.cdf(abs(t_score), df1))*2

0.8365237638144634

In [188]:
# t_score<95% critical t value & p>0.05
# Cannot reject null hyphothese

In [189]:
# Rather than calculate step by step, we could also use ttest_1sample function directly
onesample_result=stats.ttest_1samp(s1, true_mean)

In [190]:
# t-score
onesample_result[0]

0.20744283905251376

In [191]:
# p-value
onesample_result[1]

0.8365237638144631

### 2. Two Sample T Test

In [192]:
# Generate another sample dataset with size=50 and mean=2
n2=50
s2=np.random.normal(2, 1, size=n2)

In [193]:
# Get sample statistics
import statistics 
s2_mean=np.mean(s2)
s2_std=statistics.stdev(s2)
se1, se2 = s1_std/np.sqrt(n1), s2_std/np.sqrt(n2)
df=n1+n2-1

In [194]:
# Null Hypothesis: true_mean1=true_mean2/true_mean1-true_mean2=0
# Alternative Hypothesis: true_mean1!=true_mean2/true_mean1-true_mean2!=0

In [219]:
# s1-s2 will follow a normal distribution with mean s1_mean-s2_mean and standard error of sqrt(se1^2+se2^2)
mean=s1_mean-s2_mean
ste=np.sqrt(se1**2.0 + se2**2.0)

In [196]:
# Calculate t-score
t_score=(s1_mean-s2_mean)/ste

In [214]:
t_score

-9.899202575281645

In [198]:
# Get 95% two-tail cirtical t score
stats.t.ppf(0.975, df)

1.9842169515086827

In [200]:
# t_score>95% critical t value & p<0.05
# Reject null hyphothese

In [201]:
# Rather than calculate step by step, we could also use ttest_1sample function directly
twosample_result=stats.ttest_ind(s1, s2)

In [202]:
# t-score
twosample_result[0]

-9.899202575281645

In [203]:
# p-value
twosample_result[1]

2.0028912899356609e-16